<h1>{{title}}</h1>
<h1 [innerHTML]="title"></h1>

<img [src]="imageUrl" alt="">

<p [ngClass]="nomClass">cecie est une application</p>

<button [disabled]="isActif">Mon bouton</button>

<button (click)="onClick()">Cliquer</button>

<button *ngIf="isDetails else faux" (click)="afficher()">Masquer détails</button>
<ng-template #faux> <button (click)="cacher()">Afficher détails</button> </ng-template>

<table>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th *ngIf="isDetails">Email</th>
    <th *ngIf="isDetails">Téléphone</th>
    <th *ngIf="isDetails">Age</th>
  </tr>
  <tr *ngFor="let u of utilisateurs">
    <td>{{u.nom}}</td>
    <td>{{u.prenom}}</td>
    <td *ngIf="isDetails">{{u.email}}</td>
    <td *ngIf="isDetails">{{u.telephone}}</td>
    <td *ngIf="isDetails">{{u.age}}</td>
  </tr>
</table>

<input type="text" [(ngModel)]="nom"> <button (click)="ajouter()">Ajouter</button>